<h1>Index</h1>

<button id= "refresh">Refresh</button>
<ul>
  <% todos.each(function (todo){ %>
    <!-- still using get -->
    <li><a href="#/todos/<%= todo.get("id") %>">
      <%= todo.get("title") %></li>
    </a>
  <% }) %>
</ul>

<a href="#/todos/new">New Todo</a>
